{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kuta Beach Sentiment Analysis Result</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/style.css' %}" />
</head>
<body>
    <header>
        <a href="#result">CONCLUSION</a>
    </header>
    <div class="main">
        <h1>Sentiment Analysis on Kuta Beach Bali with Naives Bayes Rule</h1>
        <h4>Over 5000 reviews gathered from tripadvisor.com</h4>
        <h2>Input your review text and get the classifying result:</h2>
        <textarea type="text" name="classifyText" id="classifyText"></textarea>
        <button type="submit" onclick="classify()">Check</button>
        <img src="{% static 'home/spinner.gif' %}" alt="" id="spinner" style="display:none" >
        <div id="classifyResult" style="display:none">
            <h2>This reviews is <span id="greatestClass"></span></h2>
            <div class="prob">
                <h3>Positive probability: <span id="positive"></span></h3>
                <h3>Neutral probability: <span id="neutral"></span></h3>
                <h3>Negative probability: <span id="negative"></span></h3>
            </div>
        </div>
        <div class="album">
            <img src="https://d1nabgopwop1kh.cloudfront.net/hotel-asset/30000002000410977_wh_10" alt="kuta" id="pic1">
            <img src="http://static.asiawebdirect.com/m/bangkok/portals/bali-indonesia-com/homepage/magazine/the-beach-of-kuta/pagePropertiesImage/kuta-beach.jpeg" alt="" srcset="">
            <img src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2017/12/28/Pictures/indonesia-rubbish-bali-environment_c10db9b0-eba1-11e7-9ae3-224c4ca68244.jpg" alt="">            
        </div>
    </div>
    <div class="sample">
        <h1>Sample Reviews </h1>
        <img src="{% static 'home/review.png' %}" alt="">
        <table>
            <tr>
                <th>Review</th>
                <th>Rating</th>
                <th>Class</th>
            </tr>
            <tr class="reviews">
                <td>Amazing beach, had great times, enjoyed my holiday , planning my next holiday to visit kuta bali beach end of the year.</td>
                <td>40,50</td>
                <td>Positive</td>        
            </tr>
            <tr class="reviews">
                <td>The beach is not so clean. For peace and rest it is too busy wih tourists and people who want to sell massages and surf lessons. Its great for morning walk.</td>
                <td>30</td>
                <td>Neutral</td>
            </tr>
            <tr class="reviews">
                <td>I have been to Kuta about 10-15 times in the last 10 years and it gets worse every time i visit. The beach is fithy and full of rubbish. The whole Kuta area is full of scammers and are only friendly and smiling when they are trying there hardest to rip you off, as soon as they realize you are not interested the fake smile dissapears very quickly. Be careful of moneychangers and do not use the airport taxi stand because they are the biggest scammers of all in Bali. </td>
                <td>10,20</td>
                <td>Negative</td>
            </tr>
        </table>
    </div>
    <div class="distribution">
        <h1>Data distribution</h1>
        <div class="data-distribution">
            <div>
                <h2>Data Train</h2>
                <canvas class="child-canvas" width="300" id="train"></canvas>
            </div>
            <div>
                <h2>All Data</h2>
                <canvas class="child-canvas" width="300" id="all"></canvas> 
            </div>
            <div>
                <h2>Data Test</h2>
                <canvas class="child-canvas" width="300" id="test"></canvas>            
            </div>
        </div>
    </div>
    <div class="result" id="result">
        <h1>Conclusion</h1>
        <h3>From 5730 reviews, we choose 4298 for data train and 1432 for data test. The result is ...</h3>
        <div class="metric">
            <div class="element">
                <h2>{{ accuracy }}</h2>
                <h4>Accuracy</h4>
            </div>
            <div class="element">
                <h2>{{ precision_recall_fsupport.0 }}</h2>
                <h4>Precision</h4>
            </div>
            <div class="element">
                <h2>{{ precision_recall_fsupport.1 }}</h2>
                <h4>Recall</h4>
            </div>
            <div class="element">
                <h2>{{ precision_recall_fsupport.2 }}</h2>
                <h4>F-Score</h4>
            </div>
        </div>
        <div class="matrix">
            <h2>Confusion Matrix</h2>
            <table>
                <tr>
                    <th>Actual/Predicted</th>
                    <th>Positive</th>
                    <th>Neutral</th>
                    <th>Negative</th>
                </tr>
                {% for i in confusion_matrix %}
                    <tr>
                        {% if forloop.counter == 1 %}
                        <th>Positive</th>
                        {% elif forloop.counter == 2 %}
                        <th>Neutral</th>
                        {% else %}
                        <th>Negative</th>
                        {% endif %}
                        <td>{{i.0}}</td>
                        <td>{{i.1}}</td>
                        <td>{{i.2}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="relevant-words">
            <h2>Most Relevant Words in each class</h2>
            <div class="rel-container">
                <div class="class-words">
                    <h2>Positive</h2>
                    <canvas id="positiveChart" height="600"></canvas>
                </div>
                <div class="class-words">
                    <h2>Neutral</h2>
                    <canvas id="neutralChart" height="600"></canvas>
                </div>
                <div class="class-words">
                    <h2>Negative</h2>   
                    <canvas id="negativeChart" height="600"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script>
        var pos = document.getElementById('positiveChart').getContext('2d');
        var chart = new Chart(pos, {
            type: 'horizontalBar',
            data: {
                labels: {{ most_relevant_words.positive.labels|safe }},
                datasets: [{
                    label: "Relevant Words Positive Class",
                    backgroundColor: 'green',
                    data: {{ most_relevant_words.positive.values|safe }},
                }]
            },
        });
        var neu = document.getElementById('neutralChart').getContext('2d');
        var chart = new Chart(neu, {
            type: 'horizontalBar',
            data: {
                labels: {{ most_relevant_words.neutral.labels|safe }},
                datasets: [{
                    label: "Relevant Words Neutral Class",
                    backgroundColor: 'yellow',
                    data: {{ most_relevant_words.neutral.values|safe }},
                }]
            },
        });
        var neg = document.getElementById('negativeChart').getContext('2d');
        var chart = new Chart(neg, {
            type: 'horizontalBar',
            data: {
                labels: {{ most_relevant_words.negative.labels|safe }},
                datasets: [{
                    label: "Relevant Words Negative Class",
                    backgroundColor: 'red',
                    data: {{ most_relevant_words.negative.values|safe }},
                }]
            },
        });
        function classify() {
            var text =  $('textarea#classifyText').val();
            console.log(text);
            document.getElementById('spinner').style.display = 'block';
            $.ajax("/classify-text/", {
                type: "POST",
                data: {'text': text,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    
                    if (data.positive_prediction > data.negative_prediction && data.positive_prediction > data.neutral_prediction){
                        document.getElementById('greatestClass').textContent = "Positive";
                    } else if (data.negative_prediction > data.positive_prediction && data.negative_prediction > data.neutral_prediction) {
                        document.getElementById('greatestClass').textContent = "Negative";
                    } else {
                        document.getElementById('greatestClass').textContent = "Neutral";
                    }
                    
                    document.getElementById('positive').textContent = data.positive_prediction;
                    document.getElementById('negative').textContent = data.negative_prediction;
                    document.getElementById('neutral').textContent = data.neutral_prediction;
                    document.getElementById('spinner').style.display = 'none';
                    document.getElementById('classifyResult').style.display = 'block';  
                }
            });

        }
        var train = document.getElementById('train').getContext('2d');
        var chart = new Chart(train, {
            type: 'pie',
            data: {
                labels: ['positive','neutral','negative'],
                datasets: [{
                    label: "Train data distribution",
                    backgroundColor:[
                        'green','yellow','red'
                    ],
                    data: [{{ total_positive_review_train }},{{ total_neutral_review_train }}, {{ total_negative_review_train }}],
                }]
            },
        });
        var all = document.getElementById('all').getContext('2d');
        var chart = new Chart(all, {
            type: 'pie',
            data: {
                labels: ['positive','neutral','negative'],
                datasets: [{
                    label: "All data distribution",
                    backgroundColor:[
                        'green','yellow','red'
                    ],
                    data: [{{ total_positive }},{{ total_neutral }}, {{ total_negative }}],
                }]
            },
        });

        console.log({{ total_negative_review_test }});
        var test = document.getElementById('test').getContext('2d');
        var chart = new Chart(test, {
            type: 'pie',
            data: {
                labels: ['positive','neutral','negative'],
                datasets: [{
                    label: "Test data distribution",
                    backgroundColor:[
                        'green','yellow','red'
                    ],
                    data: [{{ total_positive_review_test }},{{ total_neutral_review_test }}, {{ total_negative_review_test }}],
                }]
            },
        });
    </script>


</body>
</html>