body,html {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

div {
    padding: 1em;
}

header {
    height: 1.6em;
    padding: 1em;
}

header a {
    text-decoration: underline;
    letter-spacing: 5px;
    color: black;
}

.main {
    padding: 6em 0em; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#classifyText {
    border: none;
    width: 30em;
    height: 5em;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
}

button[type=submit] {
    border:none;
    font-size: 2em;
    padding: 0.5em 1em;
    border-radius: 5px;
    color:white;
    background-color: black;
}

button[type=submit]:hover {
    background: white;
    color: black;
    border: 3px solid black;
    transition: 0.4s;
}

.album {
    display: flex;
    flex-direction: row;

}

.album img {
    width: 300px;
    height: 200px;
    margin: 0 1em;
}

.sample {
    padding: 0 10em;
}

th,tr,td {
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
}

.metric {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.matrix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matrix table {
    width: 500px;
}

.rel-container, .class-words {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.class-words {
    flex-direction: column;
    align-items:flex-start;
}

.data-distribution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
}
